<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#b9d7ea">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon" href="favicon.png">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  <app-bar></app-bar>
  <main>
  </main>
  <footer-page></footer-page>
</body>
</html>
