img {
    display: block;
}

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #f7fbfc;
}

main {
  position: relative;
  width: 100%;
}

.skip-link {
   position: absolute;
   top: -40px;
   left: 0;
   background-color: #769fcd;
   color: white;
   padding: 8px;
   z-index: 400;
 }

.skip-link:focus {
   top: 0;
 }

.navbar {
  width: 100%;
  background-color: #b9d7ea;
  color: #f7fbfc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 100;
}

.header {
  flex-grow: 4;
  padding: 10px;
}

.header_title {
  font-weight: bolder;
}
.nav-list {
  list-style-type: none;
  margin-right: 40px;
}

.nav-item {
  display: inline-block;
  padding: 20px 10px;
}

.navbar a {
  text-decoration: none;
  color: #f7fbfc;
  padding: 20px 10px;
}

.navbar a:hover {
  color: #769fcd;
}

/*hero jumbotron*/

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 5, 0.5)), url("../public/images/heros/hero-image_2.jpg");
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 380px;
  text-align: center;
  background-position: center;
  background-color: green;
  background-repeat: no-repeat;
  background-size: cover;
  word-break: break-word;
}

.hero_title {
  font-weight: 800;
  font-family: 'Assistant', sans-serif;
  font-size: 50px;
  opacity: 0.8;
  text-align: center;
  vertical-align: middle;
  color: #f7fbfc;
}

.hero_inner p {
  font-size: 25px;
  text-align: center;
  color: #f7fbfc;
  padding-top: 10px;
}

.content {
  padding: 16px 32px 32px 32px;
  max-width: 1300px;
}

.list_label {
    text-align: center;
    width: 100%;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #769fcd;
    padding: 10px 16px;
}

/* resto item */

.card , .resto_review-item {
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    text-justify: inter-word;
    box-sizing: border-box;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.content-card {
    padding: 8px 16px 16px 16px;
}

.thumbnail {
    width: 100%;
    height: 270px;
    object-fit: cover;
    object-position: center;
}

.location {
    position: absolute;
    text-transform: uppercase;
    color: #585656;
    padding: 10px;
    top: 0;
    font-size: 18px;
    border: 2px, solid, #000;
    height: 40px;
    background-color: rgba(255,255,255,1);
}

.rating {
    color: #DAA520;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}

.title {
    font-weight: 500;
    font-size: 18px;
    margin-top: 16px;
    transition: 0.3s opacity;
}

.title:hover {
    color: #769fcd;
    cursor: pointer;
}

.title a {
    text-decoration: none;
    color: inherit;
}

.description {
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.5em;
}

/* resto detail */

.resto_detail {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.resto_detail h4 {
  margin-top: 10px;
  font-size: 19px;
}

.resto_detail p {
  font-size: 17px;
}

.resto_info {
  grid-gap: 10px;

}

.resto_image {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 1em;
  object-fit: cover;
}

.resto_title {
  padding: 10px;
  margin-top: 45px;
  text-align: center;
}

.resto_info ul {
  list-style: none;
}

.resto_category {
  padding: 10px;
}

.resto_category li {
  display: inline;
  border-radius: 1em;
  background-color: #B9D7EA;
  padding: 5px;
}

.resto_menu {
  text-align: center;

}

.resto_menu h4 {
  padding-bottom: 10px;
  font-size: 20px;
  border-bottom: 1px solid #000
}

.resto_review-item_title {
  border-bottom: 1px solid #000;
}

.resto_review-item_date {
  font-size: 15px;
  color: gray;
}

.header_detail {
  padding-top: 20px;
  text-align: center;
  font-size: 25px;
}

/*
   Like
*/
.like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #769FCD;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
  margin: 2em 0;
  padding: 1.5em;
  border: 2px solid #6e6e6e;
  border-radius: 0.5em;
}

.form-control {
  display: block;
  width: 100%;
  min-height: 1em;
  padding: 0.3em;
  font-size: 1em;
  font-weight: normal;
  color: rgb(0, 0, 0);
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #6e6e6e;
  appearance: none;
  border-radius: 0.5em;
}

.form-label {
  padding-bottom: 8px;
  font-weight: bold;
  font-style: normal;
  font-size: small;
  color: #000;
}

.form-column {
  margin-bottom: 1.3em;
  margin-top: 0.5em;
}

.btnSubmit {
  margin: 1.3em;
  padding: 0.375em 0.75em;
  font-weight: 700;
  color: white;
  text-align: center;
  vertical-align: middle;
  background-color: #769FCD;
  border: 1px solid transparent;
  margin: 1.3em 0;
  font-size: large;
  border-radius: 0.276em;
  cursor: pointer;
  text-decoration: none;
}

.btnSubmit:hover {
  background-color: #D6E6F2;
}

/*
  footer
*/

footer {
  background-color: #b9d7ea;
  color: white;
  height: 60px;
  width: 100%;
  bottom: 0;
  margin-top: 45px;
}

footer p {
  padding: 20px;
  vertical-align: middle;
  align-items: center;
  text-align: center;
}
