img {
    display: block;
}

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #f7fbfc;
}

main {
}

.navbar {
  width: 100%;
  background-color: #b9d7ea;
  color: #f7fbfc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 100;
}

.header {
  flex-grow: 4;
  padding: 10px;
}

.nav-list {
  list-style-type: none;
  margin-right: 40px;
}

.nav-item {
  display: inline-block;
  padding: 20px 10px;
}

.navbar a {
  text-decoration: none;
  color: #f7fbfc;
}

.navbar a:hover {
  color: #769fcd;
}

.hero {
  background-image: url("../public/images/heros/hero-image_2.jpg");
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 380px;
  text-align: center;
  background-position: center;
  background-color: green;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.9; */
  word-break: break-word;
}

.hero_title {
  font-weight: 800;
  font-family: 'Assistant', sans-serif;
  font-size: 50px;
  opacity: 0.8;
  text-align: center;
  vertical-align: middle;
  color: #f7fbfc;
}

.hero_inner p {
  font-size: 25px;
  text-align: center;
  color: #f7fbfc;
}

.content {
  padding: 16px 32px 32px 32px;
}

.list_label {
    text-align: center;
    width: 100%;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #769fcd;
    padding: 10px 16px;
}

.card {
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    text-justify: inter-word;
    box-sizing: border-box;
    word-wrap: break-word;
}

.content-card {
    padding: 8px 16px 16px 16px;
}

.thumbnail {
    width: 100%;
    height: 270px;
    object-fit: cover;
    object-position: center;
}

.location {
    position: absolute;
    text-transform: uppercase;
    color: #585656;
    padding: 10px;
    top: 0;
    font-size: 18px;
    border: 2px, solid, #000;
    height: 40px;
    background-color: rgba(255,255,255,1);
}

.rating {
    color: red;
    text-decoration: none;
}

.title {
    font-weight: 500;
    font-size: 18px;
    margin-top: 16px;
    transition: 0.3s opacity;
}

.title:hover {
    color: #769fcd;
    cursor: default;
}

.title a {
    text-decoration: none;
    color: inherit;
}

.description {
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.5em;
}

footer {
  background-color: #b9d7ea;
  color: white;
  height: 60px;
  width: 100%;
}

footer p {
  padding: 20px;
  vertical-align: middle;
  align-items: center;
  text-align: center;
}
